#{extends 'main.html' /}
#{set title:'Home' /}

<p id="menu"></p>

<div>Total countries : ${count}</div>

<ul>
#{list items:countries, as:'country'}
    <li>${country}</li>
#{/list}
</ul>

<ul>
#{list items:countries, as:'country'}
    <li>${country._1}</li>
#{/list}
</ul>

<ul>
#{list items:dispatch, as:'country'}
    <li>${country}</li>
#{/list}
</ul>

<ul>
#{list items:listParam, as:'country'}
    <li>${country}</li>
#{/list}
</ul>

<ul>
#{list items:complex, as:'country'}
    <li>${country}</li>
#{/list}
</ul>
